.contente {
    margin-left: 20%;
    margin-right: 20%;
}
.tab_menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110px;
}
.tab_menu button i {
    font-size: 1.4rem;
}
.pictures img{
    height: 200px;
    width:300px;
}
form i {
    color: #fff;
}